.error-container h1 { font-size: 80px; margin-top: 0; margin-bottom: 15px; }
.error-container h2 { font-size: 50px; margin-bottom: 20px; margin-top: 0; }
.error-container p { font-size: 20px; padding-bottom: 40px; padding-right: 30px; }